[project]
	description = this is a test repository to see how it goes with gerrithub
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group grouptest
	owner = group user/Francois Coulombe (fcoulombegoogle)
[access "refs/for/refs/*"]
	read = group grouptest
	read = group user/Francois Coulombe (fcoulombegoogle)
	push = group grouptest
	push = group user/Francois Coulombe (fcoulombegoogle)
	label-Code-Review = -2..+2 group grouptest
	label-Code-Review = -2..+2 group user/Francois Coulombe (fcoulombegoogle)
	label-Verified = -1..+1 group grouptest
	label-Verified = -1..+1 group user/Francois Coulombe (fcoulombegoogle)
	rebase = group grouptest
	rebase = group user/Francois Coulombe (fcoulombegoogle)
	removeReviewer = group grouptest
	removeReviewer = group user/Francois Coulombe (fcoulombegoogle)
	submit = group grouptest
	submit = group user/Francois Coulombe (fcoulombegoogle)
[access "refs/heads/*"]
	read = group grouptest
	read = group user/Francois Coulombe (fcoulombegoogle)
	create = group grouptest
	create = group user/Francois Coulombe (fcoulombegoogle)
	push = group grouptest
	push = +force group user/Francois Coulombe (fcoulombegoogle)
	pushMerge = group grouptest
	pushMerge = group user/Francois Coulombe (fcoulombegoogle)
[access "refs/tags/*"]
	push = group grouptest
	push = +force group user/Francois Coulombe (fcoulombegoogle)
	pushTag = group grouptest
	pushTag = group user/Francois Coulombe (fcoulombegoogle)
	pushSignedTag = group grouptest
	pushSignedTag = group user/Francois Coulombe (fcoulombegoogle)
