[project]
	description = this is a test repository to see how it goes with gerrithub
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fcoulombegoogle
[access "refs/for/refs/*"]
	read = group user/fcoulombegoogle
	push = group user/fcoulombegoogle
	label-Code-Review = -2..+2 group user/fcoulombegoogle
	label-Verified = -1..+1 group user/fcoulombegoogle
	rebase = group user/fcoulombegoogle
	removeReviewer = group user/fcoulombegoogle
	submit = group user/fcoulombegoogle
[access "refs/heads/*"]
	read = group user/fcoulombegoogle
	create = group user/fcoulombegoogle
	push = +force group user/fcoulombegoogle
	pushMerge = group user/fcoulombegoogle
[access "refs/tags/*"]
	push = +force group user/fcoulombegoogle
	pushTag = group user/fcoulombegoogle
	pushSignedTag = group user/fcoulombegoogle
